@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1, h2 {
    font-family: inherit;
}

.inner {
    width: 1110px;
    background-color: gray;
    margin: 0 auto;
}

nav {
    background-color: #343A40;
}

nav ul li {
    display: inline-block;
}

nav ul {
    width: 1110px;
    margin: 0 auto;
    list-style: none;
}