@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1, h2 {
    font-family: inherit;
}

.inner {
    width: 1110px;
    margin: 0 auto;
}

header {
    height: 100px;
    text-align: right;
    position: relative;
}

header h1 {
    position: absolute;
    top: 7px;
}

header h1 img {
    width: 280px;
}

header ul {
    display: inline-block;
    list-style: none;
    padding: 22px 0;
}

header ul li {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    line-height: 1.3;
}

header ul li:first-child {
    margin-right: 20px;
}

header ul li h2 {
    font-size: 13px;
    font-weight: normal;
    color: #6C757D;
}
header ul li p {
    font-size: 32px;
    font-weight: bold;
    color: #6C757D;
}

header ul li a {
    display: inline-block;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    background-color: #6c757d;
    height: 48px;
    line-height: 48px;
    padding: 0 15px;
    border-radius: 5px;
}

header ul li a:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

nav {
    background-color: #343A40;
    text-align: center;
    height: 55px;
    line-height: 55px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    color: rgba(255, 255, 255, .5);
    text-decoration: none;
    padding: 0 35px;
}

nav ul li a:hover { 
    color: rgba(255, 255, 255, .75)
}

nav ul {
    width: 1110px;
    margin: 0 auto;
    list-style: none;
}

.key-visual {
    height: 600px;
    background-color: burlywood;
}

.key-visual-content {
    height: 300px;
    width: 560px;
    background-color: #fff;
}
